


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;

    
}

:root{
  --max-card-heigt:255px;
  --max-card-width:263px;
}





  /**-----card Product-------**/
  .info h2{
    font-size: 3vw;
  }
  .info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2vw 0;
  }

  .container-articles {
    margin: 0 auto;
    padding-top: 3rem;
    max-width: 56%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(min(298px ,100%),1fr));
    gap: 1rem;
    justify-content: center;
  }

  .article {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    max-width: 300px;
    min-width: 200px;
    margin: 0 2vb 4vb 2vb;
    transition: transform 0.3s ease; 
  }

  .main-cost{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 8px 0;
  }
  /**boton agragar carrito**/
  .add-cart .button-cart{
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  .add-cart .button-cart:hover{
    transform: scale(1.2);
  }

  
  #cartBoton {
    transition: background-color 1.3s ease, border-radius 0.3s ease, transform 0.2s ease; /* Agregar aquí todas las propiedades que cambiarán */
  }
  #cartBoton.clicked{
    
    background-color: rgb(53, 248, 183);
    
    border-radius: 25%;

  }
  #cartBoton.clicked #iconShopping {
    color: #fff;
}
  .article:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    
  }
  /**zoom a la imagen cuando el mause esta sobre el articulo**/
  .article:hover .img-product .image{
    background-color: #e6e4e4;
    transform: scale(1.1);
  }

  .img-product{
    overflow: hidden;
  }
  .img-product .image{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease; 
  }
  /**nombre del producto**/
  .product-title{
    padding-top: 1vh;
    overflow: hidden;
    min-height: 20px;
    max-height: 30px;
    text-align: center;
  }
  /**cambia de color el texto del titulo cuando el mause esta encima del articulo**/
  .article:hover .product-title{
    color: rgb(6, 150, 254);
  }
  .product-title .title{
    font-size: 88%;
    overflow: hidden;
  }

  .product-price .symbol-money, .cost{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.25;
    font-family: Proxima;
  }


  